*{
  box-sizing: border-box;
}
body{
  font-family: "Dosis"
}
h1{
  text-align: center;
  margin-bottom: 20px;
}
section{
  border:1px solid black;
  overflow:hidden;
  background-color:#aba9a6;
}
h3{
  margin-top:0;
  border:1px solid black;
  width:40%;
  float:right;
  text-align:center;
}
#sh1{
  background-color: #d996ad;
}
#sh2{
  background-color: #c2305a;
  color: white;
}
#sh3{
  background-color: #c79f3a;
}
p{
  padding:25px 25px 0px 25px;

}
.row{
  margin-left:20px;
  margin-right:20px;
}
@media (min-width:992px){
  section{
    width:27%;
    float:left;
  }
  #s1{
    margin-left:75px;
  }
  #s3{
    margin-right:30px;
  }
}
@media (min-width:768px) and (max-width:991px){
  section{
    float:left;
  }
  #s1{
    width:41%;
    margin-bottom:15px;
    margin-left:50px;
    margin-right:20px;
  }
  #s2{
    width:41%;
    margin-bottom: 15px;
    margin-left:14.5px;
  }
  #s3{
    width:86%;
    margin-right:auto;
    margin-left:50px;
  }
}
@media (max-width:767px){
  section{
    width:90%;
    float:left;
    margin-bottom: 15px;
  }
  #s1{
    margin-left:25px;
    margin-right:15px;
  }
  #s2{
    margin-left:25px;
    margin-right:10px;
  }
  #s3{
    margin-left: 25px;
    margin-right:15px;
  }
}